<p-toast></p-toast>
<p-confirmDialog #cd>
  <ng-template pTemplate="headless" let-message>
    <div class="flex flex-column align-items-center p-5 surface-overlay border-round">
      <div class="border-circle bg-primary inline-flex justify-content-center align-items-center h-6rem w-6rem -mt-8">
        <i class="pi pi-question text-5xl"></i>
      </div>
      <span class="font-bold text-2xl block mb-2 mt-4">{{ message.header }}</span>
      <p class="mb-0">{{ message.message }}</p>
      <div class="flex align-items-center gap-2 mt-4">
        <button pButton label="Delete" (click)="cd.accept()" class="w-8rem"></button>
        <button pButton label="Cancel" (click)="cd.reject()" class="p-button-outlined w-8rem "></button>
      </div>
    </div>
  </ng-template>
</p-confirmDialog>
<div class="card">
  <p-table [columns]="cols"
           [value]="countries$.getValue()"
           [styleClass]="'p-datatable-striped'">
    <ng-template pTemplate="caption">
      <div class="flex align-items-center justify-content-between">

        <p-button icon="pi pi-plus-circle"
                  [rounded]="true"
                  [text]="true"
                  [title]="'New'"
                  (click)="createNew()">
        </p-button>
      </div>
    </ng-template>
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th *ngFor="let col of columns">
          {{ col.header }}
        </th>
        <th class="w-88"></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
      <tr>
<!--        <td *ngFor="let col of columns">-->
<!--          {{ col.type === CellType.DATE ? (rowData[col.field]|date:'dd/MM/yyyy HH:mm:ss') : rowData[col.field] }}-->
<!--        </td>-->
<!--        <td *ngFor="let col of columns" (mouseenter)="onHover(rowData[col.field], col.type)">-->
<!--          <ng-container *ngIf="col.type === CellType.DATE">-->
<!--            {{ rowData[col.field] | date:'dd/MM/yyyy HH:mm:ss' }}-->
<!--          </ng-container>-->
<!--          <ng-container *ngIf="col.type === CellType.TEXT">-->
<!--            {{ rowData[col.field] }}-->
<!--          </ng-container>-->
<!--          <ng-container *ngIf="col.type === CellType.COUNTRY">-->
<!--            <app-countrie [country]="rowData[col.field]"></app-countrie>-->
<!--&lt;!&ndash;            <app-countrie [country]="'FRA'"></app-countrie>&ndash;&gt;-->
<!--&lt;!&ndash;            <app-countrie [country]="rowData[col.field]"></app-countrie>&ndash;&gt;-->
<!--          </ng-container>-->


        <td *ngFor="let col of columns" (mouseenter)="onHover(rowData[col.field], col.type)">
          <ng-container *ngIf="col.type === CellType.DATE">
            {{ rowData[col.field] | date:'dd/MM/yyyy HH:mm:ss' }}
          </ng-container>
          <ng-container *ngIf="col.type === CellType.TEXT">
            {{ rowData[col.field] }}
          </ng-container>
          <ng-container *ngIf="col.type === CellType.COUNTRY">
            {{ rowData[col.field] }}
            <app-countrie [country]="rowData[col.field]"></app-countrie>
            <!--            <app-countrie [country]="'FRA'"></app-countrie>-->
            <!--            <app-countrie [country]="rowData[col.field]"></app-countrie>-->
          </ng-container>




<!--          <ng-container *ngIf="col.type === CellType.COUNTRY">-->
<!--            <app-countrie></app-countrie>-->
<!--&lt;!&ndash;            <span (click)="showCountryDetails(rowData[col.field])">{{ rowData[col.field] }}</span>&ndash;&gt;-->
<!--&lt;!&ndash;            <span (click)="showCountryDetails(rowData[col.field])">{{ rowData[col.field] }}</span>&ndash;&gt;-->
<!--          </ng-container>-->

        </td>
        <td class="flex justify-content-end">
          <p-button icon="pi pi-eye"
                    [rounded]="true"
                    [text]="true"
                    [title]="'View'"
                    (click)="view(rowData)">
          </p-button>
          <p-button icon="pi pi-pencil"
                    [rounded]="true"
                    [text]="true"
                    [title]="'Edit'"
                    (click)="edit(rowData)">
          </p-button>
<!--          <p-button icon="pi pi-trash"-->
<!--                    [rounded]="true"-->
<!--                    [text]="true"-->
<!--                    [title]="'Delete'"-->
<!--                    (click)="confirmedDelete(rowData)">-->
<!--          </p-button>-->
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage" let-columns>
      <tr>
        <td [attr.colspan]="columns?.length">
          {{ 'No data' }}
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
